{% extends 'monitoring/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'table' %}">To table view >>></a>
        </div>
    </div>
    <br>
    {% if squads %}
    {% for squad in squads %}
        <h3>{{ squad.name }} (Priority: {{ squad.priority }})</h3>
        <hr>
        {% if squad.device_set.all %}
        <div class="row row-cols-auto">
            {% for device in squad.device_set.all|dictsort:"name" %}
                <div class="col text-center" style="padding-bottom: 1em;">
                    <div
                        type="button"
                        title="Name: {{ device.name }}"
                        data-bs-toggle="popover"
                        data-bs-html="true"
                        data-bs-content="
                            Name: {{ device.name }}<br>
                            Ip: {{ device.ip }}<br>
                            Mac-address: {{ device.mac }}<br>
                            Hostname: {{ device.hostname }}<br>
                            Availability:
                            {% if device.is_online %}
                                ✅ Online
                            {% else %}
                                ⛔ Offline
                            {% endif %}<br>
                            Check date: {{ device.check_date|date:'Y.m.d H:i' }}<br>
                            Description: {{ device.description }}
                        "
                        {% if device.is_online %}
                            style="border: 1px solid green; padding: 5px;"
                        {% else %}
                            style="border: 1px solid red; padding: 5px;"
                        {% endif %}
                    >
                        {{ device.name }}<br>
                        {% if device.is_online %}
                            ✅ Online
                        {% else %}
                            ⛔ Offline
                        {% endif %}<br>
                        <div class="h6">
                            <small>
                                {{ device.check_date|date:'Y.m.d' }}<br>
                                {{ device.check_date|date:'H:i' }}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        {% else %}
            <p>No devices are available</p>
        {% endif %}
    {% endfor %}
    {% else %}
        <p>No squads are available</p>
    {% endif %}
{% endblock %}
