{% extends 'monitoring/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'index' %}">To card view >>></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            {% if devices %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Line</th>
                            <th>Squad (name)</th>
                            <th>Squad (priority)</th>
                            <th>Device (name)</th>
                            <th>Device (ip)</th>
                            <th>Device (mac)</th>
                            <th>Device (hostname)</th>
                            <th>Device (availability)</th>
                            <th>Device (check date)</th>
                            <th>Device (description)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ device.squad.name }}</td>
                                <td>{{ device.squad.priority }}</td>
                                <td>{{ device.name }}</td>
                                <td>{{ device.ip }}</td>
                                <td>{{ device.mac }}</td>
                                <td>{{ device.hostname }}</td>
                                {% if device.is_online %}
                                    <td>✅ Online</td>
                                {% else %}
                                    <td>⛔ Offline</td>
                                {% endif %}
                                <td>{{ device.check_date|date:'Y.m.d H:i' }}</td>
                                <td>{{ device.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No devices are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
